@model IEnumerable<BrewTodoMVCClient.Models.UserViewModel>

@{ViewBag.Title = "User List";}

<a class="button is-success is-rounded is-large create-btn" href='@Url.Action("Create", "User")'>
    <span class="icon is-small">
        <i class="fas fa-check"></i>
    </span>
    <span>Create New User</span>
</a>
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th><abbr title="UserId">User ID</abbr></th>
            <th><abbr title="Username">Username</abbr></th>
            <th><abbr title="FirstName">First Name</abbr></th>
            <th><abbr title="LastName">Last Name</abbr></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <a class="button is-warning is-rounded" href='@Url.Action("Edit", "User", new { id = item.UserID })'>Edit</a>
                <a class="button is-link is-rounded" href='@Url.Action("Details", "User", new { id = item.UserID })'>Details</a>
                <a class="button is-danger is-rounded" href='@Url.Action("Delete", "Delete")'>Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>