<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BrewTodo</title>
    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css")
    @Styles.Render("https://fonts.googleapis.com/css?family=Indie+Flower")
    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <style>
        .nav > li > a:hover, .nav > li > a:focus {
            background-color: #eeeeee;
        }
        .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
            color: #ffffff;
            background-color: #eeeeee;
        }
    </style>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BrewTodo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div style="float:right" class="navbar-collapse collapse">
                @if (ViewBag.LogIn != null && ViewBag.LogIn)
                {
                <ul class="navbar-nav nav">
                    <li style="padding: 15px 20px; color: white;">You are currently logged in.</li>
                    <li>@Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "btn btn-default btn-lg" })</li>
                </ul>
                }
                else
                {
                    <p>@Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-default btn-lg" })</p>
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Breweries", "Breweries", "Brewery")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - BrewTodo Group</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
